doctype html
html
  head
    title="Watch Video"
  body
    h1 Watch Video
    form(method='POST' action='')
      div
        label(for="account") account:
        input#account(type="text" name="account" size="40" value="rahPuUm7bHAheHJZLKYddSvVc8hyV6Ksc8")
      div
        label(for="secret") secret:
        input#secret(type="text" name="secret" size="40")
      div
        label(for="value") amount:
        input#value(type="text" name="value" size="20" value="10")
        ISD
      div
        label(for="vid") vid:
        input#vid(type="text" name="vid" size="20" value="sod1")
      div
        label(for="vtime") vtime:
        input#vtime(type="text" name="vtime" size="20" value="1490292663")
      div
        label(for="userid") userid:
        input#userid(type="text" name="userid" size="20" value="isp")
      div
        button(type="submit") Watch!
    br
    a(href="../") [back to main]